* {
    padding: 0;
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
    background-color: black;
    color: white;
    font-weight: bold;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    width: 400px;
    text-align: center;
    padding-top: 50px;
}

.hand-selector {
    padding-top: 250px;
}

.user {
    float: left;
    clear: none;
    font-size: 140px;
}

.bot {
    float: right;
    clear: none;
    font-size: 140px;
}

.counter {
    position: fixed;
    top: 150px;
    left: 49%;
    text-align: center;
    font-size: 50px;
}

p.nametag {
    font-size: 25px;
    padding-bottom: 5px;
}

button {
    font-size: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    margin-bottom: 50px;
    border-color: red;
}

button:active {
    font-size: 40px;
    transition: 0.5s;
}

button:hover {
    animation: buttonHover 2.5s;
}

button:focus {
    outline: none !important;
}

p.score {
    font-size: 50px;
    font-weight: bold;
}

@keyframes buttonHover {
    0% {
        font-size: 50px;
    }
    50% {
        font-size: 40px;
        width: 39px;
        height: 39px;
    }
    100% {
        font-size: 50px;
        color: red;
    } 
}